body {
  font-family: "Montserrat", sans-serif;
  background-color: #f1f6f5;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem auto;
}

.img-item {
  width: 50%;
}

.btn {
  font-size: 0.875rem;
  margin: 0 5px 0 0;
}

.btn-global {
  text-decoration: none;
}

.primary-btn {
  color: #fff;
}
.secondary-btn {
  color: #6c757d;
}

.secondary-btn:hover {
  color: #fff;
}

.table {
  background-color: #fff;
  border-radius: 10px;
  padding: 50px;
  font-size: 0.875rem;
}
